div {
    border: 1px solid #ccc;
    padding: 2rem;
    margin: 2rem auto;
    width: 66%;
}

ul.navDiv{
	position:fixed;
   	top:20%;
   	left:6px;
   	color: black;
   	background-color: white;
   	padding: 4px;
}

a{
	padding: 8px;
    display:inline-block;
}
